@(pessoa: Pessoa)

@import helper._

@views.html.main("AdminRH - Detalhe Colaborador") {
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detalhe
        </h1>
        <ol class="breadcrumb">
            <li><a href="@routes.HomeController.inicio"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="@routes.PessoaController.telaLista()"><i class="fa fa-users"></i> Colaboradores</a></li>
            <li class="active">Detalhe</li>
        </ol>
    </section>

        <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-user"></i>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opções <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.PessoaController.telaLista()">Voltar</a></li>
                                <li><a href="@routes.PessoaController.telaEditar(pessoa.getId)">Editar</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a data-toggle="modal" data-target=".bs-example-modal-sm" href="">Excluir</a></li>
                            </ul>
                        </div>
                        <h3 class="box-title">Colaborador</h3>
                    </div>
                        <!-- /.box-header -->
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>Matrícula</dt>
                            <dd>@pessoa.getId</dd>
                            <dt>Nome</dt>
                            <dd>@pessoa.getNome</dd>
                            <dt>Tipo</dt>
                            <dd>@pessoa.getTipo.getNome</dd>
                            <dt>Gênero</dt>
                            <dd>@pessoa.getGenero.getNome</dd>
                            <dt>Estado Civil</dt>
                            <dd>@pessoa.getEstadoCivil.getNome</dd>
                            <dt>Nome Cônjugue</dt>
                            <dd>@pessoa.getNomeConjuge</dd>
                            <dt>Nome do Pai</dt>
                            <dd>@pessoa.getNomePai</dd>
                            <dt>Nome da Mãe</dt>
                            <dd>@pessoa.getNomeMae</dd>
                            <dt>Escolaridade</dt>
                            <dd>@pessoa.getEscolaridade.getNome</dd>
                            <dt>Telefone</dt>
                            <dd>@pessoa.getTelefone</dd>
                            <dt>Celular</dt>
                            <dd>@pessoa.getCelular</dd>
                            <dt>CPF</dt>
                            <dd>@pessoa.getCpf</dd>
                            <dt>RG</dt>
                            <dd>@pessoa.getRg</dd>
                            <dt>Orgão Emissor</dt>
                            <dd>@pessoa.getOrgaoEmissorRg</dd>
                            <dt>Número do PIS</dt>
                            <dd>@pessoa.getNumeroPis</dd>
                            <dt>Centro de Custo</dt>
                            <dd>@pessoa.getCentroCusto</dd>
                            <dt>Data de Emissão do RG</dt>
                            <dd>@pessoa.getDataEmissaoRg.format("dd MMMM yyyy")</dd>
                            <dt>Data de Nascimento</dt>
                            <dd>@pessoa.getDataNascimento.format("dd MMMM yyyy")</dd>
                            <dt>Local Nascimento</dt>
                            <dd>@pessoa.getLocalNascimento</dd>
                            <dt>Email</dt>
                            <dd>@pessoa.getEmail</dd>
                            <dt>Área</dt>
                            <dd>@pessoa.getArea.getNome</dd>
                            <dt>Cargo</dt>
                            <dd>@pessoa.getCargo.getNome</dd>
                            <dt>Benefício</dt>
                            <dd>@pessoa.getBeneficio.getNome</dd>
                            <dt>Salário</dt>
                            <dd>@pessoa.getSalario</dd>
                            <dt>Saldo de Hotas</dt>
                            <dd>@pessoa.getSaldoHoras</dd>
                            <dt>Nome do Banco</dt>
                            <dd>@pessoa.getNomeBanco</dd>
                            <dt>Nome da Agência</dt>
                            <dd>@pessoa.getNomeAgencia</dd>
                            <dt>Número da Conta</dt>
                            <dd>@pessoa.getContaNumero</dd>
                            <dt>País</dt>
                            <dd>@pessoa.getPais.getNome</dd>
                            <dt>Endereço</dt>
                            <dd>@pessoa.getEndereco</dd>
                            <dt>Bairro</dt>
                            <dd>@pessoa.getBairro</dd>
                            <dt>Cidade</dt>
                            <dd>@pessoa.getCidade</dd>
                            <dt>CEP</dt>
                            <dd>@pessoa.getCep</dd>
                            <dt>Complemento</dt>
                            <dd>@pessoa.getComplemento</dd>
                            <dt>Data de Admissão</dt>
                            <dd>@pessoa.getDataAdmissao.format("dd MMMM yyyy")</dd>
                        </dl>
                    </div>
                    <!-- /.box-body -->
                </div>
                    <!-- /.box -->
            </div>
                <!-- /.col -->
        </div>
            <!-- /.row -->
    </section>
        <!-- /.content -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">AdminRH</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Deseja remover <b>"@pessoa.getNome"</b>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    @form(routes.PessoaController.remover(pessoa.getId)) {
                        <input type="submit" value="Remover" class="btn btn-danger">
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}

<script type="text/javascript">
        //Ao carregar a pagina desativar campos
        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };
</script>