@(cargo: Cargo)(usuario : Usuario)

@import helper._

@views.html.main("AdminRH - Detalhe Cargo")(usuario) {
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detalhe
        </h1>
        <ol class="breadcrumb">
            <li><a href="@routes.HomeController.inicio"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="@routes.CargoController.telaLista()"><i class="fa fa-user-md"></i> Cargos</a></li>
            <li class="active">Detalhe</li>
        </ol>
    </section>

        <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-user-md"></i>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opções <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.CargoController.telaLista()">Voltar</a></li>
                                <li><a href="@routes.CargoController.telaEditar(cargo.getId)">Editar</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a data-toggle="modal" data-target=".bs-example-modal-sm" href="">Excluir</a></li>
                            </ul>
                        </div>
                        <h3 class="box-title">Cargo</h3>
                    </div>
                        <!-- /.box-header -->
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>ID</dt>
                            <dd>@cargo.getId</dd>
                            <dt>Nome</dt>
                            <dd>@cargo.getNome</dd>
                            <dt>Data de Cadastro</dt>
                            <dd>@cargo.getDataCadastro.format("dd MMMM yyyy")</dd>
                        </dl>
                    </div>
                        <!-- /.box-body -->

                </div>
                    <!-- /.box -->
            </div>
                <!-- /.col -->
        </div>
            <!-- /.row -->
    </section>
        <!-- /.content -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">AdminRH</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Deseja remover <b>"@cargo.getNome"</b>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    @form(routes.CargoController.remover(cargo.getId)) {
                        <input type="submit" value="Remover" class="btn btn-warning">
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}

<script type="text/javascript">
        //Ao carregar a pagina desativar campos
        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };
</script>