@(currentPage: com.avaje.ebean.PagedList[Cargo], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.CargoController.telaLista(newPage, sortBy, order, currentFilter)

}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key:String, title:String) = {
    <th rowspan="1" colspan="1" tabindex="0" class="@key.replace(".","_") sorting @if(currentSortBy == key) @{if(currentOrder == "asc") "sorting_asc headercor" else "sorting_desc headercor"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@views.html.main("AdminRH - Cargos") {
        <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista
            <small>Cargos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@routes.HomeController.inicio"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Cargos</li>
        </ol>
    </section>

        <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <a type="button" href="@routes.CargoController.telaNovo()" class="pull-right btn btn-success">Cadastrar</a>
                        <form action="@link(0, "nome")" method="GET">
                            <div class="input-group col-lg-3">
                                <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nome">
                                <span class="input-group-btn">
                                    <input type="submit" id="searchsubmit" value="Filtrar" class="btn btn-primary">
                                    <a type="button" href="@routes.CargoController.telaLista()" class="btn btn-default">Limpar</a>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                        <!-- /.box-header -->
                    <div class="box-body">
                    @if(currentPage.getTotalRowCount == 0) {

                        <div class="well">
                            <em>Nada para mostrar</em>
                        </div>

                    } else {
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                @header("id", "ID")
                                                @header("nome", "Nome")
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for(cargo <- currentPage.getList) {
                                            <tr>
                                                <td>@cargo.getId</td>
                                                <td><a href="@routes.CargoController.telaDetalhe(cargo.getId)"><strong>@cargo.getNome</strong></a></td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                    <!-- /.col -->
                            </div>
                                <!-- /.row -->


                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        Visualizando @currentPage.getDisplayXtoYofZ(" até ", " de ")</div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            @if(currentPage.hasPrev) {
                                                <li class="paginate_button previous">
                                                    <a href="@link(currentPage.getPageIndex - 1, null)">Anterior</a>
                                                </li>
                                            } else {
                                                <li class="paginate_button previous disabled">
                                                    <a>Anterior</a>
                                                </li>
                                            }
                                            @if(currentPage.hasNext) {
                                                <li class="paginate_button next">
                                                    <a href="@link(currentPage.getPageIndex + 1, null)">Próximo</a>
                                                </li>
                                            } else {
                                                <li class="paginate_button next disabled">
                                                    <a>Próximo</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- /.dataTables -->
                    }
                    </div>
                        <!-- /.box-body -->
                </div>
                    <!-- /.box -->
            </div>
                <!-- /.col -->
        </div>
            <!-- /.row -->
    </section>
        <!-- /.content -->
}

<script type="text/javascript">
        //Ao carregar a pagina desativar todos os campos input
        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "search") {
                    inputs[i].disabled = true;
                }
            }
        };
</script>