@(pessoaNome: String)

@views.html.main("AdminRH - Colaborador") {
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Remover
            <small>Colaborador</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@routes.HomeController.inicio"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="@routes.PessoaController.telaLista()"><i class="fa fa-user-md"></i> Colaboradores</a></li>
            <li class="active">Removido</li>
        </ol>
    </section>

        <!-- Main content -->
    <section class="content">

            <!-- Default box -->
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Mensagens</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="alert alert-warning">
                            <i class="icon fa fa-check"></i><strong>@pessoaNome</strong> removido com sucesso.
                        </div>
                    </div>
                </div>
            </div>
                <!-- /.box-body -->
            <div class="box-footer">
                <a href="@routes.PessoaController.telaLista()" class="btn btn-default">Voltar</a>
            </div>
                <!-- /.box-footer-->
        </div>
            <!-- /.box -->

    </section>
        <!-- /.content -->
}