@(areaNome: String)

@views.html.main("AdminRH - Área cadastrada") {
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastro
            <small>Área</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@routes.HomeController.inicio"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="@routes.AreaController.telaLista"><i class="fa fa-building"></i> Áreas</a></li>
            <li class="active">Cadastrado</li>
        </ol>
    </section>

        <!-- Main content -->
    <section class="content">

            <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Informações</h3>
            </div>
            <div class="box-body">
                <div class="col-md-5">
                    <div class="alert alert-success">
                        <i class="icon fa fa-check"></i>A área <strong>@areaNome</strong> foi cadastrado com sucesso.
                    </div>
                </div>
            </div>
                <!-- /.box-body -->
            <div class="box-footer">
                <a href="@routes.AreaController.telaLista" class="btn btn-default">Voltar</a>
            </div>
                <!-- /.box-footer-->
        </div>
            <!-- /.box -->

    </section>
        <!-- /.content -->
}